.myplayer{
    max-width: 100%;
}

.myplayer video{
    width: 100%;
}

.myPlayerControls{
    display: flex;
    border-radius: 5px;
    width: 70%;
    justify-content: center;
    align-items: center;
}